*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-image: url("assets/mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  background-position: center;
}
@media (min-width: 600px) {
  body {
    background-image: url("assets/tablet_portrait.png");
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  body {
    background-image: url("assets/tablet_landscape.png");
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url("assets/Desktop_fullHD.png");
  }
}
@media (min-width: 1900px) and (min-height: 1200px) {
  body {
    background-image: url("assets/Desktop_1900x1357.png");
  }
}
@media (min-width: 2000px) {
  body {
    background-image: url("assets/Mate_WIFI_LP.png");
  }
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: inherit !important;
  text-decoration: none;
}

input {
  border: none; /* Removes the default border */
}

input:focus {
  outline: none; /* Removes the border when the input is clicked */
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  color: white;
}
@media (min-width: 600px) {
  .wrapper {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    padding-top: 140px;
  }
}
@media (min-width: 1900px) and (min-height: 1200px) {
  .wrapper {
    padding-top: 20vh;
  }
}

@media (min-width: 600px) {
  .logo {
    width: 137px;
    height: 64px;
  }
}
@media (min-width: 3000px) {
  .logo {
    width: 257px;
    height: 120px;
    padding-bottom: 24px;
  }
}

.main-title {
  padding: 24px 0 32px 0;
  font-weight: 700;
  font-size: 32px;
}
@media (min-width: 600px) {
  .main-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
    padding: 32px;
  }
}
@media (min-width: 1200px) {
  .main-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
  }
}
@media (min-width: 3000px) {
  .main-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 110%;
    padding-bottom: 48px;
  }
}

.main-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 32px;
}
@media (min-width: 600px) {
  .main-text {
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .main-text {
    font-size: 24px;
    line-height: 130%;
  }
}
@media (min-width: 3000px) {
  .main-text {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
  }
}

.stand-text {
  color: #18b254;
}

.form-wrapper {
  width: 315px;
}
@media (min-width: 600px) {
  .form-wrapper {
    width: 458px;
  }
}/*# sourceMappingURL=style.css.map */